@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #001f3f;

        --primary: #e8e8e8;
        --primary-muted: #f6f2f8;

        --secondary: #32456f;
        --secondary-muted: #32456fbe;

        --tertiary: #cbb2da;
        --tertiary-muted: #cbb2da7f;

        --error: #ce0606;

        font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    }
}

body {
    background: var(--background);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    opacity: 0.6;
}

p {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 1rem 0;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

h2 {
    font-size: 1.375rem;
    font-weight: 550;
}

h3 {
    font-size: 1.1rem;
    font-weight: 300;
}

button {
    align-items: center;
    background-color: var(--tertiary-muted);
    border: 2px solid var(--background);
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--background);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 80%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
button:after {
    background-color: var(--tertiary);
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}
  
button:hover:after {
    transform: translate(0, 0);
}

button:hover {
    outline: 0;
}

button.error {
    background-color: var(--error);
}

button.error:hover {
    background-color: var(--error);
}

button:disabled {
    opacity: 0.4;
}

button:disabled:hover {
    transform: none;
}
